/* Navbar */
.navbar {
    position: sticky;
    top: 0;

    overflow: hidden;
    display: flex;
    background-color: white;
    border: 1px solid grey;
    justify-content: space-between;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.nav {
    display: flex;
    flex: 1;
}

.nav * {
    cursor: pointer;
    border-radius: 2px;
    padding: 8px;
    margin: 0 10px;
}

.nav i:hover {
    background: rgba(184, 184, 184, 0.493);
}

.nav span:hover {
    text-decoration-line: underline;
}

.logo {
    justify-self: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
button {
    font-size: 11px;
    font-weight: 700;
    padding: 8px 4px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #567b95;
    background-color: #567b95;
    color: white;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* Cover Section */

.cover {
    font-weight: 700;
    font-size: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.title {
    margin: 50px 0;
    font-style: italic;
    max-width: 600px;
}

.caption {
    margin: 10px 10px 10px 0;
    max-width: 720px;
    line-height: 18px;
    font-weight: 400;
    font-size: 0.925rem;
    color: #666666;
}

.caption-credit {
    color: #888;
    letter-spacing: 0.01em;
    font-size: 0.75rem;
    font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.cover-photo {
    max-width: 1024px;
    width: 100%;
}

/* Article */

article {
    margin-top: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
}

article .content {
    max-width: 600px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    line-height: 30px;
    margin: 10px 0;
}
.article-info {
    width: 600px;
    margin: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.lower-info {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 712px) {
    .logo {
        height: 10px;
    }
}
